body{
font-family:Arial;
margin:0;
display:flex;
}

.sidebar{

width:220px;
background:#111;
color:white;
height:100vh;
padding:20px;

}

.sidebar ul{
list-style:none;
padding:0;
}

.sidebar li{
padding:10px;
cursor:pointer;
border-bottom:1px solid #333;
}

.sidebar li:hover{
background:#333;
}

.main{
flex:1;
padding:20px;
}

.page{
display:none;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
border:1px solid #ddd;
padding:8px;
}

.login-body{

display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#111;

}

.login-box{

background:white;
padding:40px;
border-radius:10px;
text-align:center;

}

input{
padding:10px;
margin:5px;
width:200px;
}

button{
padding:10px;
cursor:pointer;
}
